#casa {
    background-image: url('./img/casa.jpg');
    width: 1224px;
    height: 97vh;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    position: relative;
}

#puertacompleta{
    position: absolute;
}
#barra{
    position: absolute;
    width: 529px;
    top: 437px;
    left: 102px;
    height: 5px;
}

#engancheI , #engancheD{
    position: absolute;
    width: 10px;
    height: 19px;
}

#engancheI{
    left: 360px;
    top: 442px;
}

#engancheD{
    left: 606px;
    top: 442px;
}
#puerta{
    position: absolute;
    width: 274px;
    height: 134px;
    z-index: 0;
    top: 444px;
    left: 353px;
}

#puertacompleta{
    transition: transform ease-in-out 4s;
}

#puertacompleta:hover{
    transform: translate(-250px);
}
