nav {
    background-color: blue;
    height: 10vh;
}

aside {
    background-color: aqua;
    height: 50vh;
    width: 20%;
    float: left;
}

section {
    background-color: pink;
    height: 50vh;
    width: 80%;
    float: left;
}

article {
    background-color: rgb(123, 123, 218);
    height: 20vh;
    float: left;
    width: 50%;
}

/* referencia a un article al lado de un article*/
article+article {
    background-color: darkmagenta;
}

footer {
    background-color: brown;
    height: 20vh;
    clear: both;
}

*{
    margin: 0%;
}

header{
    background-color: darkcyan;
    height: 10vh;
}

@media screen and (max-width: 1000px) { /*Cuando es una tablet*/
    article {
        width: 100%;
    }

    
}

@media screen and (max-width: 600px) { /*Cuando es un móvil*/
    aside {
        height: 10vh;
        width: 100%;
    }

    section {
        width: 100%;
    }
}