@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container {
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: #343a40;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a:hover {
    color: #fff;
    text-decoration: underline;
    background-color: #0056b3;
}

button {
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    color: #fff;
}

[data-aos] {
    opacity: 0;
    transition-property: opacity, transform;
}

[data-aos].aos-animate {
    opacity: 1;
}

[data-aos="fade-up"] {
    transform: translateY(20px);
}

[data-aos="fade-up"].aos-animate {
    transform: translateY(0);
}
