.comic div {
    display: flex;
}

.comic {
    display: inline-block;
    padding: 10px;
    background-color: antiquewhite;
    border: 3px solid black;
    margin-left: 2%;
    width: 50%;
    position: relative;
}

section {
    display: flex;
}

img{
    opacity: 1;
    transition: all 5s;
}

.row2 img{
    width: 150px;
}

/*
Animaciones
*/

.row1 img:hover{
    opacity: 0;
}

.row2 img:hover{
    width: 200px;
}

.row2 #izquierda{
    position: absolute;
    left: 340px;
    opacity: 1;
    width: 150px;
}

#izquierda:hover{
    opacity: 0.5;
    left: 400px;
    width: 50px;
    padding: 50px;
}

.dos{
    display: inline-block;
    padding: 10px;
    background-color: antiquewhite;
    border: 3px solid black;
    margin-left: 2%;
    position: relative;
    width: 500px;
}

#ejemplo{
    top: 70px;
    transition: top ease-in 2s;
    position: absolute;
}

#ejemplo:hover{
    top: 550px;
    
}

#grande{
    position: absolute;
    top: 480px;
    transition: top ease-in 2s;
}

#grande:hover{
    top: 200px;
}

.row3{
    position: absolute;
    width: 300px;
    right: 600px;
    transition: right ease-out 2s;
}
.row3:hover{
    right: 900px;
}