body{
    background-color: #202020;
    margin: 0;

}

header{
    background-color: #333333;
    display: flex;
    justify-content: space-between;
}
h1{
    margin: 0;
}
a{
    color: #a3a3a3;
}

header ul {
    display: flex;
}