body {
    margin: 0 auto;
    background-color: darkmagenta;
}

.background {
    margin: 0 auto;
    position: relative;
    width: 1041px;
    height: 695px;
    left: 50px;
    right: 50px;
    background: url('img_hallowen/7726865.jpg') no-repeat center center;
    background-size: contain;
}

/* Marcos laterales */
.i-barra,
.d-barra {
    position: fixed;
    top: 0;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.i-barra {
    left: 0;
}

.d-barra {
    right: 0;
}

img {
    position: absolute;
    transition: all 0.6s ease-in-out;
}

/* Efectos de hover para los elementos */
.vampiro {
    top: 228px;
    left: 77px;
    width: 35px;
    opacity: 0;
}

.vampiro:hover,
.boton:hover ~ .vampiro {
    transform: scale(1.1);
    opacity: 1;
}

.zombie {
    top: 473px;
    right: 91px;
    width: 120px;
}

.zombie:hover,
.boton:hover ~ .zombie {
    transform: scale(1.2) rotate(-10deg);
}

.calabaza {
    top: 600px;
    left: 400px;
    width: 45px;
}

.calabaza:hover,
.boton:hover ~ .calabaza {
    transform: rotate(15deg);
    filter: brightness(1.5);
}

.bruja {
    top: 200px;
    left: 400px;
    width: 100px;
    opacity: 0;
}

.luna:hover ~ .bruja,
.boton:hover ~ .bruja {
    opacity: 1;
    transform: translate(150px, -50px);
}

.cuerda {
    top: 436px;
    left: 600px;
    width: 40px;
    opacity: 0.2;
}

.cuerda:hover,
.boton:hover ~ .cuerda {
    transform: scale(1.3);
    opacity: 1;
}

.murcielagos {
    top: 30px;
    left: 100px;
    width: 80px;
    opacity: 0.3;
}

.ojo1 {
    top: 552px;
    left: 703px;
    width: 42px;
}

.ojo1:hover,
.boton:hover ~ .ojo1 {
    transform: scale(5);
    filter: brightness(10) saturate(200%) drop-shadow(0 0 10px red);
}

.ojo2 {
    top: 615px;
    right: 781px;
    width: 59px;
}

.ojo2:hover,
.boton:hover ~ .ojo2 {
    transform: scale(1.1) rotate(-2200deg);
}

.ahorcado {
    top: 143px;
    right: 300px;
    width: 45px;
}

.ahorcado:hover,
.boton:hover ~ .ahorcado {
    transform: scaleX(-1);
}

.ahorcado:hover ~ .murcielagos,
.boton:hover ~ .murcielagos {
    transform: translateX(700px);
    opacity: 1;
}

.araña {
    width: 50px;
    left: 20px;
    top: 127px;
}

.araña:hover,
.boton:hover ~ .araña {
    top: 250px;
}

.luna {
    width: 113px;
    left: 447px;
    top: 218px;
}

.luna:hover,
.boton:hover ~ .luna {
    filter: brightness(0) saturate(200%) drop-shadow(0 0 10px red);
}

.boton {
    top: 20px;
    left: -114px;
    padding: 10px;
    background-color: white;
    color: black;
    font-size: 12px;
    position: absolute;
}