body {
    margin: 0 auto;
    background-color: darkmagenta;
}

.background {
    margin: 0 auto;
    position: relative;
    width: 1041px;
    height: 695px;
    left: 50px;
    right: 50px; 
    background: url('img_hallowen/7726865.jpg') no-repeat center center;
    background-size: contain;
}

/* Marcos laterales */
.i-barra, .d-barra {
    position: fixed;  
    top: 0;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.i-barra {
    left: 0;  
}

.d-barra {
    right: 0;  
}

/* Estilos de personajes con tamaños en píxeles */
img{
    position: absolute;
    transition: all 1s ease;
}

.vampiro {
    top: 228px;
    left: 77px;
    width: 35px;
    opacity: 0;
}

.zombie {
    top: 473px;
    right: 91px;
    width: 120px;
}

.calabaza {
    top: 600px;
    left: 400px;
    width: 45px;
}

.cuerda {
    top: 436px;
    left: 600px;
    width: 40px;
    opacity: 0.2;
}

.murcielagos {
    top: 30px;
    left: 100px;
    width: 80px;
    opacity: 0.3;
}

.ojo1 {
    top: 552px;
    left: 703px;
    width: 42px;
}

.ojo2 {
    top: 615px;
    right: 781px;
    width: 59px;
}

.ahorcado{
    top: 143px;
    right: 300px;
    width: 45px;
}

.araña{
    width: 50px;
    left: 20px;
    top: 127px;
}

.luna{
    width: 113px;
    left: 447px;
    top: 218px;
}

/* Transiciones */
.vampiro:hover {
    transform: scale(1.1);
    opacity: 1;
}

.zombie:hover {
    transform: scale(1.2) rotate(-10deg);
}

.calabaza:hover {
    transform: rotate(15deg);
    filter: brightness(1.5);
}

.cuerda:hover {
    transform: scale(1.3);
    opacity: 1;
}

.ahorcado:hover {
    transform: scaleX(-1);
}

.ahorcado:hover ~ .murcielagos {
    transform: translateX(700px);
    opacity: 1;
}

.ojo1:hover {
    transform: scale(5);
    filter: brightness(10) saturate(200%) drop-shadow(0 0 10px red);
}

.ojo2:hover {
    transform: scale(1.1) rotate(-2200deg);
}

.araña:hover {
    top: 250px; 
}

.luna:hover{
    filter: brightness(0) saturate(200%) drop-shadow(0 0 10px red);
}