body {
    margin: 0;
    overflow: hidden;
    background: black;
    color: white;
    font-family: 'Arial', sans-serif;
}

#cockpit {
    position: relative;
    width: 100vw;
    height: 110vh;
    background-image: url('./img/coockpit.png');
    background-size: cover;
    background-position: center;
    z-index: 10;
    bottom: 696px;
}

#espacio {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('./img/espacio.jpg') no-repeat center center;
    background-size: cover;
    transition: transform 1s, background-image 1s;
    z-index: 5;
    animation: moveEspacio 25s linear infinite;
}


@keyframes moveNyanCat {
    0% {
        offset-path: path('M0,0 L200,0 C300,100 400,0 500,100 L700,100');
        offset-distance: 0%;
    }
    100% {
        offset-distance: 100%;
    }
}

@keyframes moveAsteroide2 {
    0% {
        left: -50px;
        top: 50%;
    }
    100% {
        left: 100%;
        top: 10%;
    }
}

@keyframes moveAsteroide3 {
    0% {
        left: -50px;
        top: 20%;
    }
    100% {
        left: 100%;
        top: 60%;
    }
}

.nyan-cat {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url('./img/Nyan-cat.webp') no-repeat center center;
    background-size: cover;
    animation: moveNyanCat 4s linear infinite;
    z-index: 8;
    rotate: 50deg;
    top: 160px;
    right: 750px;
}

.asteroide2 {
    position: absolute;
    width: 150px;
    height: 150px;
    background: url('./img/asteroide.png') no-repeat center center;
    background-size: cover;
    animation: moveAsteroide2 12s linear infinite;
    z-index: 9;
}

.asteroide3 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url('./img/asteroide.png') no-repeat center center;
    background-size: cover;
    animation: moveAsteroide3 15s linear infinite;
    z-index: 8;
}

#nave_siguiendo {
    position: absolute;
    width: 100px;
    height: 50px;
    background: url('./img/nave_siguiendo.png') no-repeat center center;
    background-size: cover;
    animation-name: seguir;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    opacity: 0;
    top: 30%;
    z-index: 9;
}

#nave_seguida {
    position: absolute;
    width: 100px;
    height: 50px;
    background: url('./img/nave_perseguida.webp') no-repeat center center;
    background-size: cover;
    animation-name: seguir;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    opacity: 0;
    top: 30%;
    z-index: 9;
    transform: rotateY(-1);
}

.planeta1{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 20%;
    left: 20%;
    background: url('./img/planeta1.webp') no-repeat center center;
    background-size: cover;
}

.planeta2 {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 20%;
    left: 60%;
    background: url('./img/planeta2.webp') no-repeat center center;
    background-size: cover;
}

.satelite {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url('./img/satelite.png') no-repeat center center;
    background-size: cover;
    animation: orbit 10s linear infinite;
    left: 80px;
    top: 60px;
}

#palanca {
    position: absolute;
    bottom: 127px;
    left: 59%;
    transform: translateX(-50%);
    width: 100px;
    cursor: pointer;
    transition: transform 0.3s;
    z-index: 15;
    rotate: -90deg;
}

#palanca:hover {
    transform: translateX(-50%) scale(1.2);
    filter: drop-shadow(0 0 10px rgb(221, 221, 83)) drop-shadow(0 0 20px rgb(255, 174, 0));
}

.activo #espacio {
    background-image: url('./img/hiperspace.jpg');
}

.activo .asteroide1,
.activo .asteroide2,
.activo .asteroide3,
.activo #nave_siguiendo,
.activo #nave_seguida,
.activo .planeta1,
.activo .planeta2,
.activo .satelite,
.activo .nyan-cat {
    display: none; 
}

@keyframes orbit {
    from {
        transform: rotate(0deg) translateX(100px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(100px) rotate(-360deg);
    }
}

@keyframes hyperspace {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes moveEspacio {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(10px, 10px);
    }
    50% {
        transform: translate(-10px, -10px);
    }
    75% {
        transform: translate(10px, -10px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes seguir {
    0% {
        transform: translateX(0) scale(0.4);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    99% {
        transform: translateX(100vw) scale(2.4);
        opacity: 1;
    }
    100% {
        transform: translateX(100vw) scale(2.4);
        opacity: 0;
    }
}