body {
    margin: 0;
}

.mazo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primer, .segundo {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;

}

.carta {
    width: 180px;
    height: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.carta div {
    width: 180px;
    height: 250px;
    background-size: contain;
    position: absolute;
}

.reverso {
    background-image: url('./img/reverso.png');
}

.lapras .anverso {
    background-image: url('./img/Lapras-Genetic-Apex.png');
}

.charizard .anverso {
    background-image: url('./img/genetic-apex-a1-280-charizard-ex.png');
}

.gengar .anverso {
    background-image: url('./img/gengar.png');
}

.gengarex .anverso {
    background-image: url('./img/gengarex.png');
}

.mew .anverso {
    background-image: url('./img/mew.png');
}

.sabrina .anverso {
    background-image: url('./img/sabrina.png');
}

.blastoise .anverso {
    background-image: url('./img/blastoise.png');
}

.diglet .anverso {
    background-image: url('./img/diglet.png');
}


.carta div {
    transition: all 1s;
}

.carta .anverso {
    z-index: 0;
    transform: rotateY(180deg);
}

.carta .reverso {
    transform: rotateY(0deg);
    z-index: 10;
}

.carta.seleccionada .anverso {
    transform: rotateY(0deg);
    z-index: 10;
}

.carta.seleccionada .reverso {
    transform: rotateY(180deg);
    z-index: 0;
}